<!-- d-none d-lg-block -->
<div class="container-fluid">
    <div class="row p-0">
        <div class="col-md-10 offset-md-1">
            <div class="container-fluid">
                <div class="row mt-5 mb-5 align-items-center">
                    <div class="col-md-6" style="padding-top: auto; padding-bottom: auto">
                        <h1 style="font-family: google-sans;font-weight: 350;color: #3c4043;"
                            class="display-5"><b>Made in Porto <span style="color: #1a73e8;">For the World</span>.</b>
                        </h1>
                        <br>
                        <h4 style="font-family: google-sans;">{{homeJson.eventName}}</h4>
                        <p class="google-font">{{ homeJson.devfest18DetailsSmall }}</p>
                        <p class="google-font text-muted">
                            {{homeJson.eventDate}} &nbsp; {{homeJson.eventTime}} &nbsp; {{homeJson.eventVenue}}
                        </p>
                        <p class="google-font text-muted">
                            <span ng-repeat="hs in homeJson.hashTag">
                                {{hs.name}} &nbsp;
                            </span>

                        </p>
                        <p class="google-font text-muted">
                            <span>
                                WIFI: ISEPWLAN -> Voucher -> pGCKJpsmQZd3 &nbsp;
                            </span>

                        </p>

                        <ul class="list-inline">
                            <li class="list-inline-item" ng-repeat="sl in homeJson.socialLinks">
                                <a href="{{sl.link}}" style="color: #3c4043;"><i class="fa {{sl.icon}}"
                                                                                 aria-hidden="true"></i></a>
                            </li>

                        </ul>

                        <a href="/registration"
                           class="btn btn-pink btn-sm mt-2 m-0 waves-effect waves-light z-depth-0 google-font"
                           style="text-transform:capitalize; font-size : 20px;">Sold out!</a>
                        &nbsp;
                    </div>

                    <div class="col-md-6 d-none d-lg-block">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-2 float-right"
                             style="max-width: 90%;">
                            <!--    Update the SRC Link                          -->
                            <img class="embed-responsive-item"
                                 src="https://secure.meetupstatic.com/photos/event/7/1/c/9/600_470789129.jpeg"></iframe>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


<div class="container-fluid grey lighten-5 d-none d-lg-block">
    <div class="row">
        <div class="col-md-10 offset-md-1 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 text-center p-5 animated fadeInUp" ng-repeat="svs in homeJson.overviewSection">
                        <i class="fa {{svs.icon}} fa-3x " style="color: #424242 ;text-align: center"
                           aria-hidden="true"></i>
                        <br><br>
                        <h3 style="font-family: google-sans;color: #424242 ;" class="h3-responsive">{{svs.title}}</h3>
                        <p style="font-size: 90%">{{svs.des}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid animated fadeInUp mt-2 mb-2">
    <div class="row">
        <div class="col-md-10 offset-md-1 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 order-md-1 order-1">
                        <h2 style="font-family: google-sans;font-weight: 350;color: #3c4043;"
                            class="display-5 h2-responsive animated fadeInUp"><b>On the edge of <span
                                style="color: #1a73e8;">Android, Web</span> and <span
                                style="color: #1a73e8;">Cloud</span>.</b></h2>
                        <br>
                        <p class="google-font">{{homeJson.states.des}}</p>
                    </div>
                    <div class="col-md-6 order-md-2 order-0 pb-4">
                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-md-6 col-6" ng-repeat="statis in homeJson.states.statistics">
                                    <h1 style="font-family: google-sans;font-weight: 800;font-size: 300%"
                                        class="display-5 animated fadeInUp"><b><span style="color: #1a73e8;">{{statis.quantity}}</span></b>
                                    </h1>

                                    <p class="google-font">{{statis.title}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SPEAKERS-->
<div class="container-fluid pt-5 pb-3"
     style="background-image: url('../assets/img/a.svg');background-repeat: no-repeat;background-size: cover;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center pt-5">
                        <h3 style="font-family: google-sans;color: #1a73e8;" class="mb-3">
                            {{homeJson.speakerSection.title}}</h3>
                        <p>{{homeJson.speakerSection.des}}</p>
                        <a href="#speakers">See More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-4 text-center mt-3" ng-repeat="sp in speakersData | limitTo : 4" ng-click="open(sp)">
                        <a style=" color:inherit;text-decoration: none;" href="#speakers">
                            <div ng-include src="'views/container/speakerContainer.html'"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--THEMES AND SESSIONS Title-->
<div class="row mt-2">
    <div class="col-md-6 offset-md-3 text-center mt-5">
        <h3 style="font-family: google-sans;color: #1a73e8;" class="mb-3">{{homeJson.sessionsSection.title}}</h3>
        <p>{{homeJson.sessionsSection.des}}</p>
        <a href="#sessions">See More</a>
    </div>
</div>
<!--THEMES AND SESSIONS-->
<div class="row mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="container-fluid">
                    <div ng-include src="'views/themesRow.html'"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--PARTNERS-->
<div ng-include src="'views/sponsors.html'"></div>
