<div class="container-fluid ">
    <div class="row">
        <div class="col-md-8 offset-md-2 pt-3 pb-2">
            <br>
            <h1 style="font-family: google-sans;font-weight: 300;color: #3c4043;" class="display-5 animated fadeInUp h1-responsive"><b>Tickets</b></h1>
            <p style="font-size: 110%" class="animated fadeInUp">We'll be asking for a discretionary 10€ per ticket that will be donated to a charity announced on the day of the event</p>
            <a href="https://hello.last2ticket.com/event/1261/" target="_blank" class="btn btn-primary btn-sm mt-2 m-0 waves-effect waves-light z-depth-0 animated fadeInUp google-font" style="text-transform:capitalize; font-size : 20px;">Last2Ticket</a>
            <br>
            <br>
            <img width="200px" class="animated fadeInUp" src="assets/img/GDG_DevFest_Porto_ticket.png">
            <br>
            <br>
            <div ng-include src="'views/sponsors.html'"></div>
        </div>
    </div>
</div>

