<style>
    .active-bar{
        color: white;
        border: 5px;
        border-bottom: 10px;

    }
    .inactive-bar{
        color:#bbdefb;
    }



</style>
<div class="container-fluid primary-color z-depth-1 pt-2 mt-2">
    <div class="row p-2 p-0">
        <div class="col-md-10 offset-md-1 pl-1">
            <ul class="nav md-tabs mx-0 mb-0 mt-1 mb-1 p-0">
                <li class="nav-item active-bar" id="showScheduleID" >
                    <a class="nav-link google-font" ng-click="showSchedule()" ><b>Schedule</b></a>
                </li>
                <li class="nav-item inactive-bar" id="showSessionID">
                    <a class="nav-link google-font" ng-click="showSession()"><b>Sessions</b></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid pt-2 mt-2 " ng-show="varSessions">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="container-fluid">

                <div class="row pt-5">
                    <div class="col-md-8">
                        <h3 style="font-family: google-sans;color: #1a73e8;" class="animated fadeInUp">Sessions</h3>
                        <br>
                        <p style="font-family: google-sans" class="animated fadeInUp">Get inspired. Learn. Use it.</p>

                        <p style="font-family: google-sans" class="animated fadeInUp">Check back often as we continue to
                            add new sessions. Please note that the order of the talks and the schedule may still change.</p>
                    </div>
                </div>

                <div ng-include src="'views/sessionsRow.html'"></div>
            </div>

            <div ng-include src="'views/sponsors.html'"></div>
        </div>
    </div>
</div>

<div class="container-fluid pt-2 mt-2 " ng-show="varSchedule">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="container-fluid" ng-controller="ctrlSchedule">

                <div class="row pt-5">
                    <div class="col-md-8">
                        <h3 style="font-family: google-sans;color: #1a73e8;" class="animated fadeInUp">Schedule</h3>
                        <br>
                        <p style="font-family: google-sans" class="animated fadeInUp">Hone your skills. Ask technical
                            questions. Get inspired. This year’s program is packed with keynotes, talks and workshops.</p>

                        <p style="font-family: google-sans" class="animated fadeInUp">Check back often as we continue to
                            add new sessions. Please note that schedule and orders are not still final</p>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form animated fadeInUp">
                            <input type="text" id="materialLoginFormEmail" class="form-control" ng-model="search">
                            <label for="materialLoginFormEmail"><i class="fa fa-search" aria-hidden="true"></i> Search
                                inside Schedule</label>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-12">
                        <table class="table table-hover animated fadeInUp" style="width: 100%;border-color:#e0e0e0;">
                            <tr class="primary-color text-white">
                                <td class="p-3 p-3margins" style="text-align: center;">
                                    <p style="text-align: center;" class="google-font mb-0">Time</p>
                                </td>
                                <td class="p-3 p-3margins" style="width: 40%;text-align: center;" ng-repeat="td in trackData"  >
                                    <p class="google-font mb-0">{{td.title}}</p>
                                </td>
                            </tr>
                            <tr ng-repeat="sd in schData | filter: search">
                                <td class="p-3" >
                                    <div class="google-font p-3margins" style="text-align: center;" class="google-font">{{sd.time}}</div></td>
                                <td class="p-3 schedule-entry-line" ng-if="sd.detail" colspan="2">

                                    <div style=" display: flex; margin: auto" class="google-font">
                                        <div  class="schedule-entry-main google-font">{{sd.detail}}</div>
                                    </div>

                                </td>
                                <td class="p-3 schedule-entry-line"
                                    ng-init="sE = getScheduleEntry(td.id,sd.sessions)"
                                    ng-click="openSchedule(sE)"
                                    ng-if="!sd.detail && !isSpanned(td.id,sd.sessions)"
                                    ng-repeat="td in trackData" rowspan="{{sE.span}}">

                                    <div ng-if="sE" class="schedule-entry-line-intern" >
                                        <div style="display: flex; margin: 10px"
                                              class="google-font">

                                            <img ng-if="sE.speaker" ng-click="open(sE.speaker)" src="{{sE.speaker.profileImg}}" class="rounded-circle clickable-img"
                                                 alt="Speaker Image" style="min-width: 55px; width: 55px; height: 55px; margin: auto 10px"/>

                                            <img ng-if="sE.speakers"  ng-click="open(speaker)" ng-repeat="speaker in sE.speakers" src="{{speaker.profileImg}}" class="rounded-circle clickable-img"
                                                 alt="Speaker Image" style="min-width: 35px; width: 35px; height: 35px; margin: auto 5px"/>

                                            <div style="flex-grow: 1">
                                                <div ng-if="sE.session.workshop" style="font-weight: bold;color: #4285f4;" class="schedule-entry-text google-font">[Workshop - Bring your laptop]</div>
                                                <div ng-click="open(sE.speaker)" class="clickable-text schedule-entry-text google-font">{{sE.session.speaker}}</div>
                                                <div class=" schedule-entry-text google-font">{{sE.session.title}}</div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>