<div class="white p-3 pt-4"
     style="border-color:#e0e0e0;border-width: 1px;border-style: solid;border-radius: 8px;height:100%">
    <img src="{{sp.profileImg}}" alt="Speaker Image" class="rounded-circle"
         width="60%">
    <br><br>
    <h5 class="h5-responsive" style="font-family: google-sans;color: #1a73e8;">
        {{sp.name}}</h5>
    <h5 class="h5-responsive" style="font-family: google-sans;color: #1a73e8; font-size: 90%;">
        {{sp.title}}</h5>
    <h5 class="h5-responsive" style="font-family: google-sans;font-size: 90%;">
        {{sp.company}}</h5>
</div>